.advantages {
  padding-top: 94px;
}

.advantages-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
}

.advantages-item + .advantages-item {
  margin-left: 30px;
}

.advantages .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-advantages {
  content: '';
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;

  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icom-svg {
  width: 70px;
  height: 70px;
}
