.clients {
  padding-left: 0;

  margin-bottom: 0;
  margin-top: 0;
  margin-left: -30px;
  display: flex;
}

.clients > .client-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.client-item {
  margin-top: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one-client {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  @include flex-center();
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &:hover,
  &:focus {
    border-color: $color-forces-color;
    outline: none;
  }
}

.client-logo {
  height: 49px;
  width: 44px;
  fill: #afb1b8;

  .one-client:hover &,
  .one-client:focus & {
    fill: $color-forces-color;
  }
}

.two-client {
  width: 40px;
  height: 52px;
}

.three-client {
  width: 41px;
  height: 43px;
}

.four-client {
  width: 80px;
  height: 42px;
}

.five-client {
  width: 59px;
  height: 47px;
}

.six-client {
  width: 88px;
  height: 45px;
}
