.examples .examples-title {
  color: $main-color-titles-color;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.examples {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.examples-work {
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.examples-focus {
  display: block;
  margin-right: 0;

  outline: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.examples-focus {
  overflow: hidden;
}

.examples .variety {
  color: $massive-text-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.examples-cont {
  padding: 20px 24px;
}

.portfolio-image {
  position: relative;
  display: block;
}

.portfolio-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .examples-focus:hover &,
  .examples-focus:focus & {
    transform: translateY(0);
    opacity: 1;
    background-color: rgba(33, 150, 243, 0.9);
  }
}

// .examples-focus:hover .portfolio-image::before,
// .examples-focus:focus .portfolio-image::before {
//   transform: translateY(0);
//   opacity: 1;
//   background-color: rgba(33, 150, 243, 0.9);
// }

.examples-description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  /* overflow: auto; */

  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .examples-focus:hover &,
  .examples-focus:focus & {
    opacity: 1;
    color: var(--white-bg-color);
  }
}

// .examples-focus:hover .examples-description,
// .examples-focus:focus .examples-description {
//   opacity: 1;
//   color: var(--white-bg-color);
// }

.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  padding: 63px 24px;
}
