footer {
  background-color: $footer-background-color;
  padding-bottom: 60px;
  padding-top: 60px;
}

.map-addres {
  font-style: normal;
}

.logotype {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .logotype {
    text-align: center;
  }
  .main-addres {
    text-align: center;
  }

  .map-link {
    text-align: center;
  }
}

.main-addres {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-addres .mail-link {
  margin-bottom: 8px;
  margin-top: 8px;
}

.main-addres .tell-link {
  padding-bottom: 0;
  margin-bottom: 0;
}

footer .link {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: $main-letter-spacing;

  &:hover,
  &:focus {
    color: $color-forces-color;
  }
}

@media screen and (min-width: 1200px) {
  .main-addres .mail-link {
    margin-bottom: 9px;
    margin-top: 9px;
  }

  .webstudio-cont {
    margin-left: 70px;
  }
}
