.form {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-top: 0;
  margin-bottom: 12px;

  padding: 0;
  color: $main-color-titles-color;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  font-family: inherit;
}

.form-input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding: 10px;
  padding-left: 35px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    border-color: $color-forces-color;
    outline: none;
  }
}

.modal-svg {
  position: absolute;

  left: 12px;
  top: 31px;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    fill: $color-forces-color;
  }

  .form-input:focus + & {
    fill: $color-forces-color;
    border-color: $color-forces-color;
  }
}

// .form-input:focus + .modal-svg {
//   fill: var(--color-forces-color);
//   border-color: var(--color-forces-color);
// }

.reset {
  margin-bottom: 20px;
}

.text-area {
  width: 448px;
  height: 120px;
  font-size: 14px;
  margin-top: 4px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:focus-within {
    border-color: $color-forces-color;
    outline: none;
  }
}

.form-label-checkbox {
  position: relative;
  @include flex-center();
  // display: flex;
  // align-items: center;
  // justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
}

.underline-policy {
  padding-left: 3px;
  text-decoration-line: underline;
  color: $color-forces-color;
}

.form-checkbox {
  position: absolute;
}

.icon-ok-checbox {
  margin-right: 8px;
  display: inline-block;
  border: 2px solid black;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  transition: focus 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-checkbox:checked + &,
  .form-checkbox:focus:checked + & {
    background: $color-forces-color;
    border-color: $color-forces-color;
    background-image: url(../img/icon-policu-ok/okpolicy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
  }

  .form-checkbox:focus-visible + & {
    border: 2px solid $color-forces-color;
  }
}

.modal-svg-focus {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}
