.main-nav-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-nav-container {
    display: flex;
    align-items: center;
    position: relative;
  }
}


.header-container {
  border-bottom: 1px solid #ececec;
}
