.hero {
  background-color: var(--footer-background-color);
  text-align: center;

  padding-bottom: 200px;
  margin-top: 0;

  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .hero-title {
  color: $white-bg-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
}
