.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section .out-work {
  margin-top: 0;
  margin-bottom: 50px;
}

.section .team-margin {
  margin-bottom: 50px;
}

.out-work-img .img-work + .img-work {
  margin-left: 30px;
}

.out-work-img {
  display: flex;

  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.our-work-box img {
  display: block;
}

.our-work-box {
  position: relative;
}

.position-our-work {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
}

.tex-box {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: $white-bg-color;
  margin: 27px 82px;
}
