.webstudio-cont {
  margin-left: 70px;
}

.our-social-link {
  font-family: Roboto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $white-bg-color;
  margin-top: 0;
  margin-bottom: 0;
}

.webstydio-social-list {
  margin-bottom: 0;
  margin-top: 20px;
  padding-left: 0;
  display: flex;
}

.webstydio-link {
  content: '';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-forces-color);
  }
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.webstydio-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

footer .color {
  color: var(--white-bg-color);
  padding-bottom: 0;
}
