.main-nav__logo {
  color: $color-forces-color;

  font-family: Raleway, sans-serif;
  font-weight: 700;

  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-style: normal;
}

.main-nav__logo-black {
  color: $main-color-titles-color;
}

.main-nav__logo-white {
  color: $white-bg-color;
}
