.social {
  padding: 0;
  padding-top: 16px;
  padding-bottom: 30px;
  display: inline-flex;
}

.social-link {
  content: '';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $white-bg-color;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-forces-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-link:hover &,
  .social-link:focus & {
    fill: $white-bg-color;
  }

  .webstydio-link:hover &,
  .webstydio-link:focus & {
    fill: $white-bg-color;
  }
}

.team-link {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
