body {
  background-color: $white-bg-color;
  color: $massive-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: $main-letter-spacing;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
  height: auto;
}
