.container-margin {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.container-discharge {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
}
