.container-footer {
  // width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
  // margin-bottom: 0;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

// @media screen and (max-width: 767px) {
//   .container-footer {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }

// @media screen and (min-width: 768px) {
//   .container-footer {
//     width: 100%;

//     flex-wrap: wrap;
//     display: flex;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .container-footer {
//     width: 1200px;
//     margin-bottom: 0;
//     display: flex;
//     align-items: baseline;
//   }
// }
