.team-container {
  margin-bottom: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;

  background-color: $our-team;
}

@media screen and (min-width: 1200px) {
  .team-container {
    width: 1200px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
