.section-title {
  color: $main-color-titles-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.2;
  }
}
