:root {
  --main-color-titles-color: #212121;
  --massive-text-color: #757575;
  --white-bg-color: #ffffff;
  --color-forces-color: #2196f3;
  --footer-background-color: #2f303a;
  --our-team: #f5f4fa;
  --main-letter-spacing: 0.03em;
}

$main-color-titles-color: #212121;
$massive-text-color: #757575;
$white-bg-color: #ffffff;
$color-forces-color: #2196f3;
$footer-background-color: #2f303a;
$our-team: #f5f4fa;
$main-letter-spacing: 0.03em;
